@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";

@theme {
  --font-manRope: "Manrope";
}

.test {
  background: rgba(18, 18, 18, 0.64);
  backdrop-filter: blur(37px);
}

.grad {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.hoverEffect:hover {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.06) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.special {
  animation: admin 0.5s;
}

@keyframes admin {
  0% {
    transform: translateY(30px);
    opacity: 0%;
  }

  100% {
    transform: translateY(0);
  }
}
